name: dependency-submission

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:

  java-dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 21
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v5
      with:
        # The gradle project is not in the root of the repository.
        build-root-directory: minecraft-mod


  python-dependency-submission:
      runs-on: ubuntu-latest
      permissions:
        contents: write # 必须有写入权限
      steps:
        - name: Checkout Code
          uses: actions/checkout@v4
  
        - name: Submit Dependencies
          uses: advanced-security/python-dependency-submission-action@v1
          with:
            # 该 Action 会自动检测并提交当前环境中的依赖
            requirements-files: 'requirements.txt'
