name: dependency-submission

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:

  java-dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 21
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v5
      with:
        # The gradle project is not in the root of the repository.
        build-root-directory: minecraft-mod


  python-dependency-submission:
      runs-on: ubuntu-latest
      permissions:
        contents: write # 必须有写入权限
      steps:
        - uses: actions/checkout@v4
    
        - uses: actions/setup-python@v5
          with:
            python-version: "3.12"
    
        - name: Install uv
          run: pip install uv
    
        - name: Export dependencies
          run: uv export --format requirements.txt > requirements.txt
    
